<h1>Registration Form</h1>

<%= form_for @person do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.fields_for :address do |address_form| %>
    <%= address_form.label :street, "Street" %>
    <%= address_form.text_field :street %>
    <%= address_form.label :number, "House number" %>
    <%= address_form.text_field :number %>
  <% end %>

  <%= form.fields_for :pets do |pet_form| %>
    <%= pet_form.label :name, "Pet name" %>
    <%= pet_form.text_field :name %>
    <%= pet_form.label :breed, "Pet breed" %>
    <%= pet_form.text_field :breed %>
  <% end %>

  <%= form.submit %>


<% end %>
